env:
  global:
    - CC_TEST_REPORTER_ID=9766aea95aba806d3ff5a6994204732d15b49f9f0580311e52b7d05bd36c43c8
language: python
python:
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
#  - "3.7-dev"  # 3.7 development branch (doesn't work with numpy right now)
# command to install dependencies
install:
  - pip install coverage
  - pip install -r requirements.txt

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
# command to run tests
script:
  - python manage.py test

after_script:
  - coverage run manage.py test
  - coverage xml
  - ./cc-test-reporter after-build -t coverage.py --exit-code $TRAVIS_TEST_RESULT
